
.header{
  display: block;
  position: relative;
  z-index: 15;
  margin: 0;
  height: 108px;
}

.image_menu{
  width: 100%;
  height: 250px;
  background-color: black;
}

#container_title {
    margin-bottom: 20px;
    font-size: 47px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.local {
    display: block;
    text-align: center;
}

.local span:first-child {
    padding: 0 16px 0 0;
}

.local span {
    padding: 0 16px 0 8px;
    color: #fff;
    font-size: 13px;
}

.nav_menu{
  height: 50px;
  width: 100%;
  position: relative;
  background: #363636;
}

.nav_list{
    list-style: none;
    margin: 0 auto;
}

.nav_item{
  position: relative;
    float: left;
    margin: 0 0 0 -1px;
    width: 33.333%;
}

.nav_link{
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #d7d7d7;
  border-bottom: none;
  border-top: none;
  font-size: 19px;
  color: #fff;
}
.nav_link_on{
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #d7d7d7;
  border-bottom: none;
  border-top: none;
  font-size: 19px;
  color: #282828;
  background: #fff;
}
#wrapper{
  z-index: 5;
    margin-left: 200px;
    width: 100%;
    zoom: 1;
}

#container {
    margin: 0 auto;
    z-index: 4;
    position: relative;
    padding: 0;
    width: 100%;
    min-height: 500px;
    height: auto !important;
    height: 500px;
    font-size: 1em;
    zoom: 1;
}

#ctt {
    margin: 0;
    padding: 50px;
}

.brand_info_wrap {
    width: 100%;
    min-height: 1381px;
    background: url(/img/brand/brand_info_bg.jpg) no-repeat center top;
}

.subTitle39 {
    font-size: 39px !important;
    font-weight: 600 !important;
    color: #282828 !important;
}

.subPoint33 {
    font-size: 33px !important;
    color: #282828 !important;
}
.mgT36 {
    margin-top: 36px !important;
}

.subPoint49 {
    font-size: 49px !important;
    color: #c60c1d !important;
    font-weight: 600 !important;
}
.mgT18 {
    margin-top: 18px !important;
}

.subPoint49 {
    font-size: 49px !important;
    color: #c60c1d !important;
    font-weight: 600 !important;
}
.mgT18 {
    margin-top: 18px !important;
}

.conText15 {
    font-size: 15px;
    color: #666;
    line-height: 23px;
}

.mgT26 {
    margin-top: 26px !important;
}

.conText15 {
    font-size: 15px;
    color: #666;
    line-height: 23px;
}
.mgL393 {
    margin-left: 393px !important;
}
.mgT123 {
    margin-top: 123px !important;
}

.conText15 {
    font-size: 15px;
    color: #666;
    line-height: 23px;
}
