/* body */
body{
    padding: 0px;
    margin: 0px;
    word-break:break-all;
    overflow-x: hidden;
}

/* 메인메뉴 */
.hd{
    position: relative;
    z-index: 100;
    min-width: 1140px;
}
#header{
    position: relative;
    margin: 0 auto;
    padding: 0;
    zoom: 1;
    width: 1140px;
}
#Logo{
    float: left;
    position: absolute;
    z-index: 30;
    top: 36px;
    left: 0;
}
#sns{
    position: absolute;
    top: 40px;
    z-index: 50;
    right: 0;
}
#menubox{
    display: none;
    position: absolute;
    z-index: 30;
}
input[id="menuicon"]{
    display: none
}

#mainMenu{
    display: block;
    position: relative;
    z-index: 15;
    margin: 0;
    height: 108px;
}
#menu{
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
}
#menu:after{
    display:block; 
    visibility:hidden; 
    clear:both; 
    content:"" 
}
#nav{
    position: absolute; 
    z-index:15; 
    left:50%;
    top: 30px;
    margin-left:-150px;
}
#main{
    z-index:10; 
    clear:both; 
    zoom:1;
    padding-inline-start: 0px;
    list-style:none;
}
#main:after{
    display:block; 
    visibility:hidden; 
    clear:both; 
    content:"";
}
#mainList{
    position:relative; 
    float:left; 
    width:140px;
}
#topList{
    display:block; 
    text-align: center; 
    padding: 10px; 
    text-decoration:none; 
    font-weight:600;  
    font-size:18px; 
    color:#444444 !important;
}
#topList:focus{
    text-decoration:none; 
    color:#282828 !important; 
    font-weight:600;
}
#topList:hover{
    text-decoration:none; 
    color:#282828 !important; 
    font-weight:600;
}
#subMenu{
    display: none;
    position:absolute; 
    z-index:15; 
    top: 108px;
    width: 100%; 
    height:200px; 
    background-color:#ffffff; 
    opacity: 0.9;
}
#subMenu:after{
    display:none; 
    visibility:hidden; 
    clear: both; 
    content:""
}
#sub{
    display:none; 
    position:absolute; 
    width:140px;
    top:90px; 
    font-size: 14px; 
    text-align: left;
}
#sub li{
    display:block !important; 
    height:20px; 
    margin-bottom:7px; 
}
#subList{
   text-decoration:none; 
   color:#666 !important; 
   font-size:14px; 
   letter-spacing:-1px;
}
#subList:focus{
    text-decoration:none; 
    color:#cb0215 !important
}
#subList:hover{
    text-decoration:none; 
    color:#cb0215 !important
}

/* 네비영역 */
#mainMenuImg{
    position: relative;
    width: 100% !important;
    height: 285px;
}
#menuTitle{
    margin-bottom: 20px;
    font-size: 47px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 100px;
}
.local {
    display: block;
    text-align: center;
}
#localList{
    color: #fff;
}
#lcoalArrow{
    color: gray;
    font-size: 1.2em;
}
.local span:first-child {
    padding: 0 0 0 2;
}
.local span {
    padding: 0 0 0 2;
    color: #fff;
    font-size: 13px;
} 
.nav_menu{
    width: 100%;
    position: relative;
    background: #363636;
}
.nav_ul{
    width:1140px;
    margin:0 auto; 
    list-style: none; 
}
.nav_ul:after{
    content:" "; 
    display:block; 
    clear:both; 
    height:0; 
    visibility:hidden;
}
.nav_ul li{
    position:relative; 
    float:left; 
    margin:0 0 0 -1px;
}
.nav_ul li a{
    display:block; 
    height:50px; 
    line-height:50px; 
    text-align:center; 
    text-decoration:none; 
    border:1px solid #d7d7d7; 
    border-bottom:none; 
    border-top:none; 
    font-size:19px; 
    color:#fff
} 
.nav_on{
    color:#282828 !important;
    background:#fff; 
    height:50px; 
    font-weight:600;
}
.nav_ul li a:hover{
    height:50px; 
    color:#282828; 
    background:#fff; 
    border:1px solid #d7d7d7; 
    border-bottom:none; 
    border-top:none;
}
.nav_menu > ul >li.nav_on a{
    height:50px; 
    color:#282828; 
    background:#fff;
}
 /* .nav_ul li{
    width:50%;
}  */
.nav_ul li{
    width:33.333%;
}
/*
.nav_ul li{
    width:25%;
}

.nav_ul li{
    width:20%;
}
.nav_ul li{
    width:16.66%;
} */
label, #toggle{
    display: none;
}

/* footer */
#ft{
    margin-top: 70px;
}
#company{
    width:1140px;
    margin:0 auto;
}
.logo {
    width:134px; 
    margin-right: 100px;
    float:left;
}
.ftMenu{
    text-align: right;
    white-space: nowrap;
}
.ftMenu a {
    color:#505050 !important; 
    padding:0 18px 0 12px; 
    margin:0; 
    font-size:13px
}
.ftMenu a:last-child {
    padding:0 0 0 12px; 
    background:none;
}
.ftMenu a:hover {
    color:#282828 !important; 
    text-decoration:none
}
#copyright {
    width:1140px;
    height:176px; 
    margin:0 auto;
    margin-top:25px;
}
#copyright .copyUl {
    float:left; 
    list-style: none;
    padding-inline-start: 0px;
}
#copyright .copyUl > li {
    color:#666; 
    line-height:20px
}
.ftli{
    font-size: 14px;
}
.ftli2{
    font-size: 10px;
}
#ftWeb{
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    display: none;
}

/* 반응형 웹 */

@media screen and (max-width:600px){

    #nav{
        display: none;
    }

    /* 메인메뉴 */
    #sns{
        display: none;
    }
    #Logo{
        float: none;
        position: relative;
        top: 10px;
        left: 20px;
    }
    #menubox{
        display: block;
        top: 15px;
        left: 90%;
    }
    input[id="menuicon"] + label {
        display: block;
        width: 36px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }
    input[id="menuicon"] + label span {
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        border-radius: 30px;
        background-color: #000;
        transition: all .35s;
    } 

    input[id="menuicon"] + label span:nth-child(1){
        top:0;
    }
    input[id="menuicon"] + label span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    input[id="menuicon"] + label span:nth-child(3){
        bottom:0;
    }

    input[id="menuicon"]:checked + label span:nth-child(1){
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    input[id="menuicon"]:checked + label span:nth-child(2){
        opacity: 0;
    }
    input[id="menuicon"]:checked + label span:nth-child(3){
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
    .hd{
        min-width: unset;
    }
    #header{
        width: 100%;
    }
    #mainMenu{
        height: 20px;
    }
    #nav{
        position: relative;  
        top: 0px;
        margin-left: 0px;
        left: unset;
        top: unset;
        margin-left: unset;
        height: 200px;
    }
    #main li{
        display: block;
        width: 100%;
        text-align: center;
        border-top: 1px solid #ccc;
        background-color: #363636;
        padding: 4px;
    }
    #topList{
        color: white !important;
    }
    #subMenu{
        all: unset;
    }
    #sub{
        display: none !important;
        visibility: hidden;
    }
    #subList{
        display: none !important;
        visibility: hidden;
    }

    /* 네비영역 */
    .nav_menu{
        display: block;
        width: 100%;
        position: relative;
        background: #363636;
        margin-top: 1px;
    }
    .nav_ul{
        all: unset !important;
    }
    .nav_ul li{
        all: unset !important;
        
        margin:0;
    }
    .nav_ul li a{
        display:block; 
        height: 40px; 
        line-height:40px; 
        text-align:center; 
        text-decoration:none; 
        border:1px solid #d7d7d7; 
        font-size:15px; 
        color:#fff
    } 
    .nav_on{
        color:#282828 !important;
        background:#fff; 
        
    }
    .nav_ul li a:hover{
        height:40px; 
        color:#282828 !important; 
        background:#fff; 
        border:1px solid #d7d7d7; 
    }
    .nav_menu > ul >li.nav_on a{
        height:40px; 
        color:#282828; 
        background:#fff;
    }
    
    #toggle:checked + .nav_ul{
        display: block;
    }
    .nav_ul li {
        display:block;
        width:100%;
        text-align:center;
        border-top:1px solid #ccc;
        padding: 4px;
    }

    /* 푸터영역 */
    #ft{
        display: none;
    }
    #ftWeb{
        display: block;
    }
}

/* contents영역 */
@font-face {
    font-family: "NanumGothic";
    src: url("fonts/NanumGothic.ttf"); }
        
@font-face {
    font-family: "NanumGothicBold";
    src: url("fonts/NanumGothicBold.ttf");}

body { font-family: "NanumGothic";}

/* contents */
#category_title {
    margin-top: 80px;
    font-size:30px; font-weight: bold;
    color:#d90317; text-decoration:none;
    border-bottom:1px solid #d8d8d8;
    padding-bottom:12px; margin-bottom:35px
}

#item_li{
    list-style: none;
}
.container{
    font-family: "NanumGothic";
}
#item_li li:nth-child(1){
    padding-left: 10px;
}
.title_kr{
    width: 230px;
    padding: 2px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
    font-family: "NanumGothicBold";
    text-align: center;
}

.title_eng{
    width: 230px;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.title_kr:hover{
    width: 230px;
    font-family: "NanumGothicBold";
    color: white;
    background-color: #d90317;
    border-radius: 15px;
}
